[user]
	name = Stephen Bennett
	email = bennett18@gmail.com

[core]
	editor = vim
	pager = less -F -X -S

[init]
	templatedir = ~/.git_template

[color]
	ui = auto

[merge]
	conflictstyle = diff3
	;defaultToUpstream = true

[push]
	default = simple

[alias]
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	st = status
	co = checkout
	t = tag -n
	d = diff
	dc = diff --cached
	br = branch -vv
	k = !gitk
	l = log --decorate
	lo = log --decorate --oneline
	lc = log ORIG_HEAD.. --stat --no-merges
	ls = ls-files
	ca = commit --amend
	;compare = show-branch --more=999 --current
	ccompare = show-branch --current --topo-order
	;compare = show-branch --topo-order
	update = fetch --verbose --all --prune
	; incoming = !git update && git log ..@{upstream}
	incoming = log ..@{upstream}
	outgoing = log @{upstream}..
	ctags = !.git/hooks/ctags
	sb = show-branch --topo-order --more=9999
	ri = rebase -i --autosquash
	root = rev-parse --show-toplevel
	graph = log --graph --pretty=oneline --abbrev-commit --decorate

; The following command removes all references of <filename> from the repository
;git filter-branch --index-filter 'git rm --cached --ignore-unmatch <filename>' --prune-empty HEAD
