[color]
	ui = true

[user]
	name = Stephen Bennett
	email = stephen.bennett@plexus.com
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	di = diff
	l = log
	lo = !git --no-pager log --oneline --decorate=short
	graph = log --graph --pretty=oneline --abbrev-commit --all --decorate
[core]
	pager = less -XF
[merge]
	conflictstyle = diff3
